// sample

$colors: (
    primary: (
      marine-blue: rgb(2, 41, 90),
      purplish-blue: rgb(71, 61, 255),
      pastel-blue: rgb(173, 190, 255),
      l-blue: rgb(191, 226, 253),
      red: rgb(237, 53, 72),
    ),
    neutral: (
      cool-gray: rgb(150, 153, 171),
      l-gray: rgb(214, 217, 230),
      magnolia: rgb(240, 246, 255),
      alabaster: rgb(250, 251, 255),
      w: hsl(0, 0%, 100%),
    ),
)