@use '../utilities/' as *;

.container {
  background-color: var(--clr-neutral-w);
  padding: rem(24) rem(32);
  border-radius: rem(16);
  margin-inline: rem(16);

  @include breakpointMin(medium-screen) {
    margin-inline: 0;
    position: relative;
  }
}

.danger {
  color: var(--clr-primary-red);
  font-size: rem(15);
}

.border {
  border: 1px solid var(--clr-neutral-l-gray);

  &:focus {
    border-color: var(--clr-primary-purplish-blue);
  }
}

.light {
  @include font(400, var(--clr-primary-marine-blue))
}

.medium {
  @include font(500, var(--clr-neutral-cool-gray))
}

.medium-alt {
  @include font(500, var(--clr-primary-marine-blue))
}

.heavy {
  @include font(700, var(--clr-primary-marine-blue))
}

.heavy-alt {
  @include font(700, var(--clr-primary-purplish-blue))
}

.heavy-alt-2 {
  @include font(700, var(--clr-neutral-w))
}

.-gbtn {
  width: 100%;
  padding: rem(16);
  background-color: var(--clr-neutral-w);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  .btn {
    margin-left: auto;
    background-color: var(--clr-primary-marine-blue);
    padding: rem(12) rem(24);
    border-radius: rem(8);
  }

  .back-btn {
    margin-right: auto;
    @include font(500, var(--clr-neutral-cool-gray));

    &:hover {
      color: var(--clr-primary-purplish-blue);
    }
  }
  
  button {
    background-color: transparent;
    color: var(--clr-neutral-w);
  }
}