@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --clr-primary-marine-blue: hsl(213, 96%, 18%);
  --clr-primary-purplish-blue: hsl(243, 100%, 62%);
  --clr-primary-pastel-blue: hsl(228, 100%, 84%);
  --clr-primary-l-blue: hsl(206, 94%, 87%);
  --clr-primary-red: hsl(354, 84%, 57%);
  --clr-neutral-cool-gray: hsl(231, 11%, 63%);
  --clr-neutral-l-gray: hsl(229, 24%, 87%);
  --clr-neutral-magnolia: hsl(217, 100%, 97%);
  --clr-neutral-alabaster: hsl(231, 100%, 99%);
  --clr-neutral-w: hsl(0, 0%, 100%);
}

/* BOILERPLATE */
/* Set core root defaults */
html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
  vertical-align: baseline;
}

/* Set core body defaults */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #333;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
summary {
  list-style: none;
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#root,
#__next {
  isolation: isolate;
}

/* TYPOGRAPHY RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a, a:focus, a:visited {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.container {
  background-color: var(--clr-neutral-w);
  padding: 1.5rem 2rem;
  width: min(100% - 32px, 31.25rem);
  margin-inline: auto;
}

.danger {
  color: var(--clr-primary-red);
  font-size: 0.9375rem;
}

.border {
  border: 1px solid var(--clr-neutral-l-gray);
}
.border:focus {
  border-color: var(--clr-primary-purplish-blue);
}

.light {
  color: var(--clr-neutral-marine-blue);
  font-weight: 400;
  font-size: rem(16);
}

.medium {
  color: var(--clr-neutral-cool-gray);
  font-weight: 500;
  font-size: rem(16);
}

.heavy {
  color: var(--clr-primary-marine-blue);
  font-weight: 700;
  font-size: rem(16);
}

.-gbtn {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-neutral-w);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.-gbtn .btn {
  margin-left: auto;
  background-color: var(--clr-primary-marine-blue);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}
.-gbtn button {
  background-color: transparent;
  color: var(--clr-neutral-w);
}/*# sourceMappingURL=style.css.map */